@{ Layout = "../Shared/_LayoutMain"; }
<div class="page-section">
    <!-- .section-block -->
    <div class="section-block">
        <!-- .invoice-wrapper -->
        <div class="invoice-wrapper">
            @Html.Raw(TempData["Embed"])
        </div><!-- /.invoice-wrapper -->
    </div><!-- /.section-block -->
</div><!-- /.page-section -->