
@{
    ViewData["Title"] = "CreditStatus";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container-fluid">
    <p class="mt-5">You have no credits to make this application. Kindly visit the <a href="/Payments/PaymentHistory">Payment History Page</a>, <i>Topup </i>your account and <i>Purchase credits</i>.</p>
    <a href="/Home/Dashboard">
        <button class="btn btn-success">Return</button>
    </a>
</div>

