@{
    Layout = "../Shared/_LayoutMain";
}
    <div class="container." style="display:flex;justify-items:center;">


        <div class="jumbotron" style="width:100%;">
            <p class="lead" style="width:100%;">
                <center>
                    This product is offered by. 
                    <br />
                </center>
            </p>
            <p class="lead">
                
                <table class="table">
                    <tr>
                        <td><span class="fab fa-skype"></span></td>
                        <td>companyreg

                    <tr>
                        <td><span class="fab fa-whatsapp"></span></td>
                        <td>0773587065</td>
                    </tr>

                    <tr>
                        <td><span class="fa fa-phone"></span></td>
                        <td>0773587065</td>
                    </tr>

                    <tr>
                        <td><span class="fas fa-envelope"></span></td>
                        <td></td>
                    </tr>

                </table>

            </p>
        </div>




    </div>