@{
    Layout = "../Shared/_LayoutMain";
}

<div class="container-fluid">

    @*My tasks*@

    @*Completed tasks*@
    <div class="card">
        <div class="card-header">
            <h4>Completed Tasks</h4>
        </div>
        <div class="card-body">

            <div class="table-responsive mb-5">
                <table class="table  table-mb table-hover">
                    <thead mt-5 mb-5>
                        <tr>
                            <th style="color:#0C2A46">Service</th>
                            <th style="color:#0C2A46">AssignedBy</th>
                            <th style="color:#0C2A46">Status</th>
                            <th style="color:#0C2A46">Deadline</th>
                            <th style="color:#0C2A46">Number of records</th>
                            <th style="color:#0C2A46">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (ViewBag.tasks != null)
                        {
                            @foreach (var task in ViewBag.Completedtasks)
                            {
                                <tr>
                                    <td> @task.Service </td>
                                    <td> Principal Examiner 1 </td>
                                    <td> @task.Status </td>
                                    <td> @task.ExpDateofComp </td>
                                    <td> @task.NoOfRecords </td>
                                    <td>View More</td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @*<div class="card-footer">

        </div>*@
    </div>
</div>