@{
    Layout = "_LayoutMain";
}

<style>
    label {
        color: rebeccapurple;
        font-weight: 400;
    }
</style>


<div class="container-fluid" style="color:#0C2A46">

    <div style="width:100%">
        <p mt-3 mb-5 style="margin-left:auto; margin-right:auto">Your payment was successful</p>
        <a href="">
            <button class="btn btn-success" style="margin-left:auto; margin-right:auto">
                Return Home
            </button>
        </a>
    </div>
    
</div>
@*

    <div class="container">
            <div class="col-md-12" style="display:flex;justify-content:center;align-content:center;width:90%;">

                <div class="col-md-6" style="width:30%;">

                </div>

            </div>
        </div>
    *@


