@{
    ViewData["Title"] = "Name Search";
    Layout = "_LayoutMain";
}

<div class="container-fluid">
    <p class="mt-5">Your application was submitted</p>
    <a class=" btn btn-success mt-5" href="/Home/Dashboard">Home</a>
</div>