@{
    Layout = "../Shared/_LayoutMain";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table  table-mb table-hover">
                    <thead mt-5 mb-5>
                        <tr>
                            <th style="color:#0C2A46">Service</th>
                            <th style="color:#0C2A46">Ref no.</th>
                            <th style="color:#0C2A46">Status</th>
                            <th style="color:#0C2A46">Payment</th>
                            <th style="color:#0C2A46">Action</th>
                        </tr>
                    </thead>

                    @*<tbody>
                    @if (ViewBag.datasource != null)
                    {
                        @foreach (var item in ViewBag.datasource)
                        {
                            <tr>
                                <td> @item.Type </td>
                                <td> @item.Application_Ref </td>
                                <td> @item.Status </td>
                                <td></td>
                                <td>
                                    <div class="btn-group">
                                        <a href="#" style="color:#0C2A46;text-decoration:underline">View More</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>*@
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
                <li>d</li>
                <li>e</li>
            </ul>
        </div>
    </div>
</div>
