
@{
    Layout = "_LayoutMain";
}
<p>Application has queries, and has been submitted back to the applicant to resolve those queries</p>
<a asp-action="ExaminerTasks" asp-controller="Home" class="btn btn-primary">Home</a>